In [1]:
import numpy as np
import pandas as pd

In [2]:
#Create a numpy array of size (10,50) with random numbers between 1 and 500. 
x = np.random.randint(low = 1, high = 501, size=(10,50))#Randint has a non-inclusive range, so 501 needs to be the value

#Create a dataframe from the numpy
x = pd.DataFrame(data = x)

#Display the dataframe
x.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,88,297,177,322,240,343,68,477,7,148,...,30,484,238,44,81,135,108,306,299,278
1,285,210,446,494,282,300,217,478,322,70,...,460,192,214,20,116,151,13,301,484,110
2,167,412,356,372,310,43,445,1,326,209,...,158,338,457,284,86,238,484,204,329,173
3,367,286,66,218,292,144,42,141,378,423,...,215,109,296,171,326,2,117,223,71,494
4,69,12,100,230,23,175,225,425,249,397,...,365,474,494,460,97,140,179,346,429,9

In [3]:
#Sum across all columns of a numpy array
colSums = x.sum(axis=0)
colSums

0     2428
1     2609
2     2489
3     3014
4     2238
5     1953
6     2336
7     2625
8     2810
9     3011
10    2298
11    2393
12    2508
13    2786
14    2673
15    2681
16    2027
17    2326
18    2647
19    2288
20    3105
21    3023
22    2757
23    1990
24    2134
25    2654
26    1862
27    2793
28    1678
29    3038
30    2840
31    2288
32    1559
33    2897
34    2738
35    2063
36    2765
37    2827
38    2434
39    2608
40    1876
41    2229
42    3000
43    2570
44    1822
45    1688
46    2419
47    2798
48    2820
49    2689
dtype: int64

In [4]:
#Sum across all rows
rowSums = x.sum(axis=1)
rowSums

0    12218
1    11949
2    14001
3    11214
4    11731
5    13907
6    12374
7    10826
8    12558
9    13326
dtype: int64

In [5]:
#Sum of all entries
allSum = sum(rowSums)
allSum

124104

In [6]:
#Find the max value of all entries
maxVal = max(x.max())
maxVal

500

In [7]:
#Find the minimum value of all entries
minVal = min(x.min())
minVal

1

In [8]:
#Find the average value of all entries
aveVal = x.mean().mean()
aveVal

248.20799999999997

In [9]:
#Find the standard deviation of all entries
stdDev = x.std().std()
stdDev

23.054840328439592